 <div class="user-details">
  <h1> My Expertise </h1>
  <p> With vivid and rigourous learning and practice , I have managed to master the skills needed. Took a lot of time and taught me a lot of lessons during my journey from novice to pro.  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-ionic-original colored"></i>
      <p>These helped me to bring my visions into reality</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-go-line colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>These helped me to bring my ideas into reality</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>These helped me to join my vision and ideas together </p>
    </div>
</div>
