<div class="user-details">
  <h1> My Endeavours </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/blockchain.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Blockchain Consulting</h3>
    <ul>
      <li> Hyperledger Fabric Developer</li>
      <li> Full Stack Blockchain Developer</li>
      <li> Ethereum Developer</li>
      <li> Docker and Kubernetes  Expert</li>
      <li> Solidity Programmer</li>
    </ul>
    <p>An expert on blockchain matters , whether it be the practical part or the theoritical part. With tonnes of experience in this subject , I can duly consult and create on topics related to blockchain.I have been worked on various blockchain projects along with special emphasis on Hyperledger Fabric and Ethereum Blockchain Network.Hyperledger Fabric is a permissioned blockchain network and its development is a niche skill.Ethereum Blockchain is a permissionless blockchain network.</p>
    <a class="project-link" href="https://github.com/saket27nov?tab=repositories">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/app.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> App Invention and Designing </h3>
    <ul>
      <li> Flutter Developer</li>
      <li> Dart Expert</li>
    </ul>
    <p>With abundant experience in app development with flutter , I have become a professional in app development. I have developed app pertaining to social media , finance technology , erp management system and prayer recitation.</p>
    <a class="project-link" href="https://github.com/saket27nov?tab=repositories">Check it out</a>
  </div>
</div>
